.layer-block-radius {
	-fx-background-radius: 10;
}

.layer-block-half-opacity {
    -fx-opacity: 0.5;
}

.layer-block-image-fcnn {
    -fx-background-image: url("../images/block_fcnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-1d-cnn {
    -fx-background-image: url("../images/block_1d_cnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-2d-cnn {
    -fx-background-image: url("../images/block_2d_cnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-input {
    -fx-background-image: url("../images/block_input.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-train-input {
    -fx-background-image: url("../images/block_train_input.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-test-input {
    -fx-background-image: url("../images/block_test_input.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-output {
    -fx-background-image: url("../images/block_output.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-merge {
    -fx-background-image: url("../images/block_merge.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-reshape {
    -fx-background-image: url("../images/block_reshape.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}
