.layer-block-radius {
	-fx-background-radius: 10;
}

.layer-block-half-opacity {
    -fx-opacity: 0.5;
}

.layer-block-image-fcnn {
    -fx-background-image: url("../images/block_fcnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-1d-cnn {
    -fx-background-image: url("../images/block_1d_cnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-2d-cnn {
    -fx-background-image: url("../images/block_2d_cnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-input {
    -fx-background-image: url("../images/block_input.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-output {
    -fx-background-image: url("../images/block_output.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-merge {
    -fx-background-image: url("../images/block_merge.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-switch {
    -fx-background-image: url("../images/block_switch.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-reshape {
    -fx-background-image: url("../images/block_reshape.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-1d-pooling {
    -fx-background-image: url("../images/block_1d_pooling.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-2d-pooling {
    -fx-background-image: url("../images/block_2d_pooling.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-batch-normalization {
    -fx-background-image: url("../images/block_batch_normalization.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}