@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../fonts/NanumBarunGothic.ttf');
}

*{
    -fx-font-family: 'NanumBarunGothic';
    -fx-font-size: 14;

    COLOR-WHITE: #FFFFFF;
    COLOR-LIGHTEST-GRAY: #F1F2F3;
    COLOR-LIGHT-GRAY: #C1C2C3;
    COLOR-GRAY: #A1A2A3;
    COLOR-DARK-GRAY: #515253;
    COLOR-BLACK: #000002;

    COLOR-LIGHT-BLUE-BLACK: #55606E;
    COLOR-BLUE-BLACK: #343A41;

    COLOR-GREEN: #24AFB2;
    COLOR-RED: #CD4237;

    CONTEXT-COLOR-BACKGROUND: #E9E9E9;
    CONTEXT-COLOR-DEFAULT-BUTTON-BACKGROUND: COLOR-LIGHT-GRAY;
    CONTEXT-COLOR-DEFAULT-BUTTON-TEXT: COLOR-DARK-GRAY;
    CONTEXT-COLOR-DEFAULT-BUTTON-HOVER-BACKGROUND: COLOR-GRAY;
    CONTEXT-COLOR-DEFAULT-BUTTON-HOVER-TEXT: COLOR-WHITE;
    CONTEXT-COLOR-GREEN-BUTTON-BACKGROUND: COLOR-LIGHT-GRAY;
    CONTEXT-COLOR-GREEN-BUTTON-TEXT: COLOR-DARK-GRAY;
    CONTEXT-COLOR-GREEN-BUTTON-HOVER-BACKGROUND: COLOR-GREEN;
    CONTEXT-COLOR-GREEN-BUTTON-HOVER-TEXT: COLOR-WHITE;
    CONTEXT-COLOR-RED-BUTTON-BACKGROUND: COLOR-LIGHT-GRAY;
    CONTEXT-COLOR-RED-BUTTON-TEXT: COLOR-DARK-GRAY;
    CONTEXT-COLOR-RED-BUTTON-HOVER-BACKGROUND: COLOR-RED;
    CONTEXT-COLOR-RED-BUTTON-HOVER-TEXT: COLOR-WHITE;

    CONTEXT-COLOR-TAB-TEXT: COLOR-WHITE;
    CONTEXT-COLOR-TAB-BACKGROUND: COLOR-LIGHT-BLUE-BLACK;
    CONTEXT-COLOR-TAB-SELECTED-BACKGROUND: COLOR-LIGHT-BLUE-BLACK;
    CONTEXT-COLOR-TAB-SELECTED: COLOR-GREEN;

    CONTEXT-COLOR-SPLIT-PANE-DIVIDER: COLOR-LIGHT-GRAY;

    CONTEXT-COLOR-SCROLL-BAR-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-SCROLL-BAR-BORDER: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-SCROLL-BAR-TRACK-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-SCROLL-BAR-TRACK-BORDER: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-SCROLL-BAR-THUMB-BACKGROUND: COLOR-LIGHT-GRAY;

    CONTEXT-COLOR-TITLED-PANE-HEADER-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-TITLED-PANE-HEADER-BORDER: COLOR-GRAY;
    CONTEXT-COLOR-TITLED-PANE-CONTENT-BACKGROUND: COLOR-WHITE;
    CONTEXT-COLOR-TITLED-PANE-CONTENT-BORDER: COLOR-GRAY;

    CONTEXT-COLOR-TEXT-FIELD-BACKGROUND: COLOR-WHITE;
    CONTEXT-COLOR-TEXT-FIELD-BORDER: COLOR-GRAY;
    CONTEXT-COLOR-TEXT-FIELD-TEXT: COLOR-DARK-GRAY;

    CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BACKGROUND: COLOR-WHITE;
    CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BORDER: COLOR-GREEN;
    CONTEXT-COLOR-TEXT-FIELD-FOCUSED-TEXT: COLOR-BLACK;

    CONTEXT-COLOR-TEXT-AREA-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-TEXT-AREA-BORDER: COLOR-GRAY;
    CONTEXT-COLOR-TEXT-AREA-TEXT: COLOR-DARK-GRAY;

    CONTEXT-COLOR-TEXT-AREA-FOCUSED-BACKGROUND: COLOR-WHITE;
    CONTEXT-COLOR-TEXT-AREA-FOCUSED-BORDER: COLOR-DARK-GRAY;
    CONTEXT-COLOR-TEXT-AREA-FOCUSED-TEXT: COLOR-BLACK;

    CONTEXT-COLOR-MENU-BUTTON-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-MENU-BUTTON-BORDER: COLOR-GRAY;
    CONTEXT-COLOR-MENU-BUTTON-LABEL-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-MENU-BUTTON-BUTTON-BACKGROUND: COLOR-GRAY;

    CONTEXT-COLOR-MENU-BAR-BACKGROUND: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-MENU-BAR-BORDER: COLOR-LIGHTEST-GRAY;
    CONTEXT-COLOR-MENU-BAR-TEXT: COLOR-BLACK;
    CONTEXT-COLOR-MENU-BAR-SELECTED: COLOR-GREEN;

    CONTEXT-COLOR-SEPARATOR: COLOR-BLUE-BLACK;

    -jfx-unchecked-color: COLOR-DARK-GRAY;
    -jfx-checked-color: COLOR-GREEN;

    -jfx-unselected-color: COLOR-DARK-GRAY;
    -jfx-selected-color: COLOR-GREEN;

    -jfx-default-thumb: COLOR-GREEN;
    -jfx-default-track: COLOR-LIGHT-GRAY;
}




.button {
    -fx-padding: 6, 20, 6, 20;
    -fx-background-radius: 0;
}





.customDefaultButton {
    -fx-text-fill: CONTEXT-COLOR-DEFAULT-BUTTON-TEXT;
    -fx-background-color: CONTEXT-COLOR-DEFAULT-BUTTON-BACKGROUND;
}

.customDefaultButton:hover,
.customDefaultButton:pressed {
    -fx-text-fill: CONTEXT-COLOR-DEFAULT-BUTTON-HOVER-TEXT;
    -fx-background-color: CONTEXT-COLOR-DEFAULT-BUTTON-HOVER-BACKGROUND;
}





.customGreenButton {
    -fx-text-fill: CONTEXT-COLOR-GREEN-BUTTON-TEXT;
    -fx-background-color: CONTEXT-COLOR-GREEN-BUTTON-BACKGROUND;
}

.customGreenButton:hover,
.customGreenButton:pressed {
    -fx-text-fill: CONTEXT-COLOR-GREEN-BUTTON-HOVER-TEXT;
    -fx-background-color: CONTEXT-COLOR-GREEN-BUTTON-HOVER-BACKGROUND;
}





.customRedButton {
    -fx-text-fill: CONTEXT-COLOR-RED-BUTTON-TEXT;
    -fx-background-color: CONTEXT-COLOR-RED-BUTTON-BACKGROUND;
}

.customRedButton:hover,
.customRedButton:pressed {
    -fx-text-fill: CONTEXT-COLOR-RED-BUTTON-HOVER-TEXT;
    -fx-background-color: CONTEXT-COLOR-RED-BUTTON-HOVER-BACKGROUND;
}





.jfx-tab-pane .tab {
    -fx-padding: 10, 0, 10, 0;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: CONTEXT-COLOR-TAB-TEXT;
}

.jfx-tab-pane .headers-region,
.jfx-tab-pane .tab-header-background {
    -fx-background-color: CONTEXT-COLOR-TAB-BACKGROUND;
}

.jfx-tab-pane .tab:selected {
    -fx-background-color: CONTEXT-COLOR-TAB-SELECTED-BACKGROUND;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: CONTEXT-COLOR-TAB-SELECTED;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: CONTEXT-COLOR-TAB-SELECTED;
    -fx-stroke: CONTEXT-COLOR-TAB-SELECTED;
}






.split-pane:horizontal > .split-pane-divider {
}

.split-pane:vertical > .split-pane-divider {
}

.split-pane-divider {
  -fx-padding: 1;
  -fx-background-color: CONTEXT-COLOR-SPLIT-PANE-DIVIDER;
}





.scroll-bar *.increment-button ,
.scroll-bar *.decrement-button {
    -fx-background-color: CONTEXT-COLOR-SCROLL-BAR-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-SCROLL-BAR-BORDER;
    -fx-background-radius: 0;
    -fx-padding:1;
}

.scroll-bar *.increment-arrow,
.scroll-bar *.decrement-arrow{
}

.scroll-bar .track {
    -fx-background-color: CONTEXT-COLOR-SCROLL-BAR-TRACK-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-SCROLL-BAR-TRACK-BORDER;
    -fx-background-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color: CONTEXT-COLOR-SCROLL-BAR-THUMB-BACKGROUND;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}





.titled-pane > .title {
    -fx-background-color: CONTEXT-COLOR-TITLED-PANE-HEADER-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TITLED-PANE-HEADER-BORDER;
}

.titled-pane > .content{
    -fx-background-color: CONTEXT-COLOR-TITLED-PANE-CONTENT-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TITLED-PANE-CONTENT-BORDER;
}






.text-field {
    -fx-text-fill: CONTEXT-COLOR-TEXT-FIELD-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-FIELD-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-FIELD-BORDER;
    -fx-border-width: 1;
}

.text-field:focused {
    -fx-text-fill: CONTEXT-COLOR-TEXT-FIELD-FOCUSED-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BORDER;
    -fx-border-width: 1;
}






.text-area {
    -fx-text-fill: CONTEXT-COLOR-TEXT-AREA-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-AREA-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-AREA-BORDER;
    -fx-border-width: 1;
}

.text-area:focused {
    -fx-text-fill: CONTEXT-COLOR-TEXT-AREA-FOCUSED-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-AREA-FOCUSED-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-AREA-FOCUSED-BORDER;
    -fx-border-width: 1;
}





.customMenuButton {
    -fx-background-color: CONTEXT-COLOR-MENU-BUTTON-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-MENU-BUTTON-BORDER;
}

.customMenuButton:focused {
    -fx-border-color: COLOR-GREEN;
}

.customMenuButton > .label{
    -fx-background-color: CONTEXT-COLOR-MENU-BUTTON-LABEL-BACKGROUND;
}





.menu-bar {
    -fx-background-color: CONTEXT-COLOR-MENU-BAR-BACKGROUND;
}

.context-menu {
    -fx-background-color: CONTEXT-COLOR-MENU-BAR-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-MENU-BAR-BACKGROUND;
}

.menu:hover,
.menu:showing,
.menu-item:focused {
    -fx-background-color: CONTEXT-COLOR-MENU-BAR-SELECTED;
}





.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: CONTEXT-COLOR-SEPARATOR;
}




.vbox {
    -fx-background: CONTEXT-COLOR-BACKGROUND;
}

.scroll-pane {
   -fx-background: CONTEXT-COLOR-BACKGROUND;
   -fx-border-color: CONTEXT-COLOR-BACKGROUND;
}

#coloredBackground,
.coloredBackground {
    -fx-background-color: CONTEXT-COLOR-BACKGROUND;
}

.table {
}

.jfx-progress-bar > .track{
    -fx-background-color: COLOR-GREEN;
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar{
    -fx-background-color: COLOR-GREEN;
    -fx-padding: 1.5;
}

.jfx-progress-bar > .secondary-bar,
.jfx-progress-bar:indeterminate > .secondary-bar{
    -fx-background-color: COLOR-GREEN;
}