@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../fonts/NanumBarunGothic.ttf');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('../fonts/NanumBarunGothicBold.ttf');
}

*{
    -fx-font-family: 'NanumBarunGothic';
    -fx-font-size: 14;

    COLOR-WHITE: #FFFFFF;
    COLOR-LIGHTEST-GRAY: #F1F2F3;
    COLOR-LIGHT-GRAY: #C1C2C3;
    COLOR-GRAY: #A1A2A3;
    COLOR-DARK-GRAY: #515253;
    COLOR-BLACK: #000002;

    COLOR-PRIMARY: #21AFA2;
    COLOR-PRIMARY-DARKER: #119F92;

CONTEXT-COLOR-BACKGROUND: COLOR-WHITE;

CONTEXT-COLOR-BUTTON-BACKGROUND: COLOR-LIGHT-GRAY;
CONTEXT-COLOR-BUTTON-TEXT: COLOR-GRAY;
CONTEXT-COLOR-BUTTON-HOVER-BACKGROUND: COLOR-PRIMARY;
CONTEXT-COLOR-BUTTON-HOVER-TEXT: COLOR-WHITE;

CONTEXT-COLOR-TAB-HEADER-AREA-BACKGROUND: COLOR-LIGHT-GRAY;
CONTEXT-COLOR-TAB-HEADER-BACKGROUND: COLOR-LIGHT-GRAY;
CONTEXT-COLOR-TAB-HEADER-BORDER: COLOR-LIGHT-GRAY;
CONTEXT-COLOR-TAB-HEADER-TEXT: COLOR-DARK-GRAY;

CONTEXT-COLOR-TAB-HEADER-SELECTED-BACKGROUND: COLOR-WHITE;
CONTEXT-COLOR-TAB-HEADER-SELECTED-BORDER: COLOR-WHITE;
CONTEXT-COLOR-TAB-HEADER-SELECTED-TEXT: COLOR-BLACK;

CONTEXT-COLOR-SPLIT-PANE-DIVIDER: COLOR-LIGHT-GRAY;

CONTEXT-COLOR-SCROLL-BAR-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-SCROLL-BAR-BORDER: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-SCROLL-BAR-TRACK-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-SCROLL-BAR-TRACK-BORDER: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-SCROLL-BAR-THUMB-BACKGROUND: COLOR-LIGHT-GRAY;

CONTEXT-COLOR-TITLED-PANE-HEADER-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-TITLED-PANE-HEADER-BORDER: COLOR-GRAY;
CONTEXT-COLOR-TITLED-PANE-CONTENT-BACKGROUND: COLOR-WHITE;
CONTEXT-COLOR-TITLED-PANE-CONTENT-BORDER: COLOR-GRAY;

CONTEXT-COLOR-TEXT-FIELD-TEXT: COLOR-DARK-GRAY;
CONTEXT-COLOR-TEXT-FIELD-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-TEXT-FIELD-BORDER: COLOR-GRAY;

CONTEXT-COLOR-TEXT-FIELD-FOCUSED-TEXT: COLOR-BLACK;
CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BACKGROUND: COLOR-WHITE;
CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BORDER: COLOR-DARK-GRAY;

CONTEXT-COLOR-TEXT-AREA-TEXT: COLOR-DARK-GRAY;
CONTEXT-COLOR-TEXT-AREA-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-TEXT-AREA-BORDER: COLOR-GRAY;

CONTEXT-COLOR-TEXT-AREA-FOCUSED-TEXT: COLOR-BLACK;
CONTEXT-COLOR-TEXT-AREA-FOCUSED-BACKGROUND: COLOR-WHITE;
CONTEXT-COLOR-TEXT-AREA-FOCUSED-BORDER: COLOR-DARK-GRAY;

CONTEXT-COLOR-SPLIT-MENU-BUTTON-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-SPLIT-MENU-BUTTON-BORDER: COLOR-GRAY;
CONTEXT-COLOR-SPLIT-MENU-BUTTON-LABEL-BACKGROUND: COLOR-LIGHTEST-GRAY;
CONTEXT-COLOR-SPLIT-MENU-BUTTON-BUTTON-BACKGROUND: COLOR-GRAY;
}





.button {
    -fx-padding: 10, 20, 10, 20;
    -fx-text-fill: CONTEXT-COLOR-BUTTON-TEXT;
    -fx-background-color: CONTEXT-COLOR-BUTTON-BACKGROUND;
    -fx-background-radius: 0;
}

.button:hover, button:pressed {
    -fx-text-fill: CONTEXT-COLOR-BUTTON-HOVER-TEXT;
    -fx-background-color: CONTEXT-COLOR-BUTTON-HOVER-BACKGROUND;
    -fx-background-radius: 0;
}








.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: CONTEXT-COLOR-TAB-HEADER-BACKGROUND;
}

.tab-pane{
    -fx-tab-min-width:150px;
    -fx-tab-min-height:30px;
}

.tab-pane .tab {
    -fx-background-color: CONTEXT-COLOR-TAB-HEADER-BACKGROUND;
-fx-border-color: CONTEXT-COLOR-TAB-HEADER-BORDER;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: CONTEXT-COLOR-TAB-HEADER-TEXT;
}


.tab-pane .tab:selected,
.tab-pane .tab:hover,
.tab:selected .tab-label,
.tab:hover .tab-label {
    -fx-text-fill: CONTEXT-COLOR-TAB-HEADER-SELECTED-TEXT;
    -fx-background-color: CONTEXT-COLOR-TAB-HEADER-SELECTED-BACKGROUND;
-fx-border-color:CONTEXT-COLOR-TAB-HEADER-SELECTED-BORDER;
}





.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane-divider {
  -fx-padding: 1;
  -fx-background-color: CONTEXT-COLOR-SPLIT-PANE-DIVIDER;
}





.scroll-bar *.increment-button ,
.scroll-bar *.decrement-button {
    -fx-background-color: CONTEXT-COLOR-SCROLL-BAR-BACKGROUND;
-fx-border-color: CONTEXT-COLOR-SCROLL-BAR-BORDER;
    -fx-background-radius: 0;
    -fx-padding:1;
}

.scroll-bar *.increment-arrow,
.scroll-bar *.decrement-arrow{
}

.scroll-bar .track {
-fx-background-color: CONTEXT-COLOR-SCROLL-BAR-TRACK-BACKGROUND;
-fx-border-color: CONTEXT-COLOR-SCROLL-BAR-TRACK-BORDER;
-fx-background-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color: CONTEXT-COLOR-SCROLL-BAR-THUMB-BACKGROUND;
-fx-background-insets: 0;
-fx-background-radius: 0;
}





.titled-pane > .title {
    -fx-background-color: CONTEXT-COLOR-TITLED-PANE-HEADER-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TITLED-PANE-HEADER-BORDER;
}

.titled-pane > .content{
    -fx-background-color: CONTEXT-COLOR-TITLED-PANE-CONTENT-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TITLED-PANE-CONTENT-BORDER;
}






.text-field {
    -fx-text-fill: CONTEXT-COLOR-TEXT-FIELD-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-FIELD-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-FIELD-BORDER;
    -fx-border-width: 1;
}

.text-field:focused {
    -fx-text-fill: CONTEXT-COLOR-TEXT-FIELD-FOCUSED-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-FIELD-FOCUSED-BORDER;
    -fx-border-width: 1;
}






.text-area {
    -fx-text-fill: CONTEXT-COLOR-TEXT-AREA-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-AREA-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-AREA-BORDER;
    -fx-border-width: 1;
}

.text-area:focused {
    -fx-text-fill: CONTEXT-COLOR-TEXT-AREA-FOCUSED-TEXT;
    -fx-background-color: CONTEXT-COLOR-TEXT-AREA-FOCUSED-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-TEXT-AREA-FOCUSED-BORDER;
    -fx-border-width: 1;
}





.split-menu-button {
    -fx-background-color: CONTEXT-COLOR-SPLIT-MENU-BUTTON-BACKGROUND;
    -fx-border-color: CONTEXT-COLOR-SPLIT-MENU-BUTTON-BORDER;
}

.split-menu-button > .label{
    -fx-background-color: CONTEXT-COLOR-SPLIT-MENU-BUTTON-LABEL-BACKGROUND;
}

.split-menu-button .button  {
    -fx-background-color: CONTEXT-COLOR-SPLIT-MENU-BUTTON-BUTTON-BACKGROUND;
}





.vbox {
    -fx-background: CONTEXT-COLOR-BACKGROUND;
}

.scroll-pane {
   -fx-background: CONTEXT-COLOR-BACKGROUND;
   -fx-border-color: CONTEXT-COLOR-BACKGROUND;
}

#backWhite {
    -fx-background-color: CONTEXT-COLOR-BACKGROUND;
}

.radio-button {
}

.check-box {
}

.progress-bar {
}

.table {
}

.slider {
}
