.layer-block-radius {
	-fx-background-radius: 10;
}

.layer-block-image-1d-fcnn {
    -fx-background-image: url("../images/block_1d_fcnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-1d-cnn {
    -fx-background-image: url("../images/block_1d_cnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-2d-cnn {
    -fx-background-image: url("../images/block_2d_cnn.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-input {
    -fx-background-image: url("../images/block_input.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-output {
    -fx-background-image: url("../images/block_output.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-split-in {
    -fx-background-image: url("../images/block_split_in.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}

.layer-block-image-split-out {
    -fx-background-image: url("../images/block_split_out.png");
    -fx-background-repeat: no-repeat;
	-fx-text-fill: white;
}
